.contacts {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-weight: 500;
    padding-bottom: 40px;
}

.contacts a {
    color: #222e84;
    transition: all 0.5s;
}

.contacts a:hover {
    color: #4d61c4;
}

.contact,
.numbers {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.number {
    display: flex;
    align-items: center;
    gap: 8px;
}

.contacts .address p {
    margin-bottom: 10px;
}
