.header {
    position: sticky;
    top: 0;
    background-color: #fff;
    width: 100%;
    z-index: 100;

    &--scrolled {
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), 
        var(--tw-ring-shadow, 0 0 #0000), 
        var(--tw-shadow);
    }
}

.header-container {
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .logo {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header .logo a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.header .logo img {
    width: 100px;
}

.header__actions{
    display: flex;
    align-items: center;
    gap: 30px;

    @media (max-width: 576px) {
        gap: 15px;
    }
}

.header__btn {
    display: none;

    @media (max-width: 768px) {
        display: block;
    }
}
