.nav-menu {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;

    @media (max-width: 768px) {
        display: none;
    }
}

.nav-menu__link{
    display: inline-block;
    color: #2e2284;
    font-size: 16px;
    text-decoration: none;
    transition: all 0.5s;
    font-weight: 600;

    &:hover {
        color: #4d61c4;
    }
}